<h1>Your Cart 🛒</h1>

{% if cart_items %}

    {% for item in cart_items %}
        <h3>{{ item.product.name }}</h3>

        <p>Price: ₹{{ item.product.price }}</p>
        <p>Qty: {{ item.quantity }}</p>

        <p>Total: ₹{{ item.product.price|floatformat:2|add:"0" }}</p>
<a href="{% url 'checkout' %}">
    <button>Proceed to Checkout</button>
</a>
    <button>Remove</button>
</a>

        <hr>
    {% endfor %}

    <h2>Grand Total: ₹{{ total }}</h2>

    <a href="/store/checkout/">
        <button>Proceed to Checkout</button>
    </a>

{% else %}
    <h2>Your cart is empty 🥲</h2>
{% endif %}

<br><br>

<a href="{% url 'home' %}">
    ⬅ Continue Shopping
</a>